/* You can add global styles to this file, and also import other style files */

.page-content {
  padding: 1em;
}

.app-page-title {
  font-size: 3em;
  font-weight: bold;
}

.app-menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 2em;
    text-align: center;

    i {
      font-size: 5em;
      padding: .3em .1em .3em .1em;
    }
  }
}
