<div class="page-content">
  <app-breadcrumb></app-breadcrumb>
  <div class="app-page-title">Project Description</div>
  <div class="">








    <div style="padding:50px">
      <form [formGroup]="form">
        <div class="md-form">
          <input  type="file" class="custom-file-input" name="file" (change)="onFileChange($event)">
          <label class="custom-file-label">Choose file</label>
        </div>
      </form>
      <button mdbBtn type="submit" color="yellow" (click)='upload()' value="login" mdbWaveEffect>Upload</button>
    </div>


  </div>
</div>


