<div class="page-content">
  <app-breadcrumb></app-breadcrumb>
  <div class="app-page-title">Users</div>
  <div>
    <div class="card-body">
      <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <app-coordinator-users-edit #userEdit (userEdited)="edit($event)" ></app-coordinator-users-edit>
      </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th [mdbTableSort]="users" sortBy="username" class="text-center">Document</th>
            <th [mdbTableSort]="users" sortBy="firstName" class="text-center">Deadline</th>
            <th class="text-center">Edit</th>
          </tr>
          <tr *ngFor="let person of users; let id = index">
            <td>
            <td>
              <span contenteditable="false">{{person.lastName}}</span>
            </td>
            <td>
              <span contenteditable="false">{{person.email}}</span>
            </td>
            <td>
              <i class="fas fa-pen" style="cursor: pointer;" (click)="openEditComponent(person)" ></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

