<div mdbModal #bidSet="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="bidSet.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Bid on report</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{error}}
        </div>
        <form [formGroup]="form" (keydown.enter)="save()">
          <div class="md-form">
            <select class="browser-default custom-select" [formControl]="form.controls.biddingNumber">
              <option selected>Select Bid Number</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                (click)="bidSet.hide()" mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="save()" mdbWavesEffect>Save
          changes
        </button>
      </div>
    </div>
  </div>
</div>





