<div style="padding-top: 20px; padding-left: 5px; padding-right: 5px; padding-bottom: 10px">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" routerLink="" mdbWavesEffect>Cras justo odio</li>
          <li class="list-group-item" routerLink="">Dapibus ac facilisis in</li>
          <li class="list-group-item" routerLink="">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>