<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Supervisors List</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped">
        <tr>
          <th [mdbTableSort]="personList" sortBy="id">ID</th>
          <th [mdbTableSort]="personList" sortBy="userName">User Name</th>
          <th [mdbTableSort]="personList" sortBy="firstName" class="text-center">Name</th>
          <th [mdbTableSort]="personList" sortBy="email" class="text-center">Email Address</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>


            <div class="form-check">
              <div class="flex-row">
                <div class="card-link">
                  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
                  <label class="form-check-label" for="materialUnchecked" style="font-weight: bold">{{person.firstName}}</label>
                </div>
                <div class="card-link">Another link</div>
              </div>

            </div>
          </td>
          <td>
            {{person.email}}
          </td>
        </tr>
      </table>


    </div>
  </div>
</div>
