<div class="page-content">
  <mdb-breadcrumb>
    <mdb-breadcrumb-item class="blue-text">Home</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="blue-text">Library</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Data</mdb-breadcrumb-item>
  </mdb-breadcrumb>
  <div class="app-page-title">Dashboard</div>
  <div class="app-menu-container">
    <div *ngFor="let item of items" class="app-student" (click)="navigate(item)">
      <i class="{{item.icon}}"></i>
      <mdb-card-body>
        <mdb-card-title>
          <h4>{{item.title}}</h4>
        </mdb-card-title>
        <mdb-card-text> {{item.description}}
        </mdb-card-text>
        <a href="#" mdbBtn color="primary" mdbWavesEffect>OPEN</a>
      </mdb-card-body>
    </div>
  </div>
</div>
