<div class="page-content">
  <app-breadcrumb></app-breadcrumb>
  <div class="app-page-title">Dashboard</div>
  <div class="app-menu-container app-page-content">
    <div *ngFor="let item of items" class="app-menu-item" (click)="navigate(item)">
      <i class="{{item.icon}}"></i>
      <div>
        <mdb-card-title>
          <h4>{{item.title}}</h4>
        </mdb-card-title>
        <mdb-card-text> {{item.description}}
        </mdb-card-text>
        <a (click)="navigate(item)" mdbBtn color="primary" mdbWavesEffect>OPEN</a>
      </div>
    </div>
  </div>
</div>
