<div class="page-content">
  <app-breadcrumb></app-breadcrumb>
  <app-coordinator-grade #documentGrade (documentGraded)="grade($event)"></app-coordinator-grade>
  <div class="app-page-title">Project Plans</div>
  <div>
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center" [mdbTableSort]="documents" sortBy="id">ID</th>
            <th [mdbTableSort]="documents" sortBy="firstName" class="text-center">Author Id</th>
            <th [mdbTableSort]="documents" sortBy="firstName" class="text-center">File</th>
            <th class="text-center">Passed</th>
            <th class="text-center">Grade</th>
          </tr>
          <tr *ngFor="let document of documents; let id = index">
            <td>{{document.id}}</td>
            <td>{{document.authorId}}</td>
            <td>   <a style="color: darkblue" href="{{document.getDownloadLink()}}" target="_blank">{{document.title}}.pdf</a> </td>
            <td>
              {{document.getPassOrFail()}}
            </td>
            <td>
              <button mdbBtn type="submit" color="blue" (click)='openGradeComponent(document)'
                      mdbWaveEffect>Grade
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

